.mainContentContainer{
    height: 100vh;
}

.innerContainer{
    height: 20vh;
    margin: 0 10vw 0 10vw;
    overflow: fragments;
}

.usersContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: .2vw;
    background-color: #f5f8fa;
    height: 10vh;
}

.profilePic{
    width: 4vw;
    height: 4vw;
    border-radius: .7vw;
    margin: 1vh 0 0 1vw;
}

.profileTextContainer{
    display: flex;
    flex-direction: column;
    margin: 0.5vw;
}

.profileGetTimeLineContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 15vw;
    margin: 2vh 0 0 .2vw;
}

.profileStatusImagesContainer{
    display: flex;
    align-items: center;
}

.profileTimeLineButton{
    margin-top: 1vh;
    border-radius: 1vw;
    padding: calc(3px + .5vw);
    background-color: rgba(50,106,218, 0.2);
    font-weight: 100;
    position: absolute;
    cursor: pointer;
    right: 12vw;
}
