.Container {
    width: 99vw;
    background-color: #fafafa;
    height: 8vh;
    -webkit-box-shadow: 0 0 9px 3px rgba(41,41,41,.25);
}

.body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    margin-left: 2vw;
}

.iconsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
}

.iconDiv{
    display: flex;
    flex-direction: column;
}

.linkingDiv{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 9vw;
}

.goGo{
    margin-left: -7vw;
}

.iconDivText{
    font-size: .7vw;
}

.fetchIconDiv{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 4vw;
}

.icons {
    height: calc(14px + 2.2vh);
}

.searchPopup{
    display: none;
    opacity: 0;
    position: fixed;
    z-index: 0;
    left: 0; top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.searchPopupInnerContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.2vw;
    border-radius: 0.2vw;
    width: 40%;
    height: 50%;
    margin: auto;
    margin-top: 15vh;
    background-color: #e1e8ed;
}

.searchPopupInnerDivs{
    display: flex;
    flex-direction: column;
    margin-top: 1.2vh;
    width: 74%;
    align-self: center;
}

.searchPopupButtonDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.searchPopupButtons{
    padding: 1vw;
    width: 30%;
    border-radius: 1vw;
    cursor: pointer;
    background-color: #1da1f2;
}
