.bottomBarContainer{
    width: 100vw;
    height: 6vh;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    -webkit-box-shadow: 0 0 9px 3px rgba(41,41,41,.25);
}

.bottomIconsContainer{
    display: flex;
    height: 6vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

.bottomIconDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

.bottomIconDivText{
    font-size: .7vw;
    margin-left: calc(2px + 0.5vw);
}
