.mainContentContainer{
    height: 100vh;
}

.innerContainer{
    height: 20vh;
    margin: 0 10vw 0 10vw;
    overflow: fragments;
}

.tweetsContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: .2vw;
    background-color: #f5f8fa;
    height: 12vh;
}

.profilePic{
    width: 4vw;
    height: 4vw;
    border-radius: .7vw;
    margin: 1vh 0 0 1vw;
}

.tweetTextContainer{
    display: flex;
    flex-direction: column;
    margin: 0.5vw;
}

.tweetStatusImagesContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 9vw;
    margin: 1vh 0 0 .2vw;
}

.tweetStatusImagesContainerInner{
    display: flex;
    align-items: center;
}

.favoriteImage{
    width: .9vw;
}

.reTweetImage{
    width: 1vw;
}

.statusCounterText{
    margin-left: .2vw;
}
